<a href="https://colab.research.google.com/github/radhikark0707/my-data-analysis/blob/main/Classification_Model_Casestudy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

4 CLASSIFICATION MODEL

In [66]:
import pandas as pd
import numpy as np

In [67]:
data=pd.read_csv('/content/Loan_Default.csv')

In [68]:
data.head()

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,...,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,24890,2019,cf,Sex Not Available,nopre,type1,p1,l1,...,CIB,25-34,to_inst,98.728814,south,direct,1,45.0
1,24891,2019,cf,Male,nopre,type2,p1,l1,...,EXP,55-64,to_inst,NaN,North,direct,1,NaN
2,24892,2019,cf,Male,pre,type1,p1,l1,...,CIB,35-44,to_inst,80.019685,south,direct,0,46.0
3,24893,2019,cf,Male,nopre,type1,p4,l1,...,CIB,45-54,not_inst,69.376900,North,direct,0,42.0
4,24894,2019,cf,Joint,pre,type1,p1,l1,...,EXP,25-34,not_inst,91.886544,North,direct,0,39.0

In [69]:
data.shape

(148670, 34)

In [70]:
#There are 34 features and data frame is not displaying them all so we do as below
pd.set_option('display.max_columns',data.shape[-1])

In [71]:
data.head()

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,loan_amount,rate_of_interest,Interest_rate_spread,Upfront_charges,term,Neg_ammortization,interest_only,lump_sum_payment,property_value,construction_type,occupancy_type,Secured_by,total_units,income,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,24890,2019,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,116500,NaN,NaN,NaN,360.0,not_neg,not_int,not_lpsm,118000.0,sb,pr,home,1U,1740.0,EXP,758,CIB,25-34,to_inst,98.728814,south,direct,1,45.0
1,24891,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,206500,NaN,NaN,NaN,360.0,not_neg,not_int,lpsm,NaN,sb,pr,home,1U,4980.0,EQUI,552,EXP,55-64,to_inst,NaN,North,direct,1,NaN
2,24892,2019,cf,Male,pre,type1,p1,l1,nopc,nob/c,406500,4.56,0.2000,595.0,360.0,neg_amm,not_int,not_lpsm,508000.0,sb,pr,home,1U,9480.0,EXP,834,CIB,35-44,to_inst,80.019685,south,direct,0,46.0
3,24893,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,456500,4.25,0.6810,NaN,360.0,not_neg,not_int,not_lpsm,658000.0,sb,pr,home,1U,11880.0,EXP,587,CIB,45-54,not_inst,69.376900,North,direct,0,42.0
4,24894,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,696500,4.00,0.3042,0.0,360.0,not_neg,not_int,not_lpsm,758000.0,sb,pr,home,1U,10440.0,CRIF,602,EXP,25-34,not_inst,91.886544,North,direct,0,39.0

In [72]:
#converting feature to lower case
data.columns=data.columns.str.lower()

In [73]:
data.columns

Index(['id', 'year', 'loan_limit', 'gender', 'approv_in_adv', 'loan_type',
       'loan_purpose', 'credit_worthiness', 'open_credit',
       'business_or_commercial', 'loan_amount', 'rate_of_interest',
       'interest_rate_spread', 'upfront_charges', 'term', 'neg_ammortization',
       'interest_only', 'lump_sum_payment', 'property_value',
       'construction_type', 'occupancy_type', 'secured_by', 'total_units',
       'income', 'credit_type', 'credit_score', 'co-applicant_credit_type',
       'age', 'submission_of_application', 'ltv', 'region', 'security_type',
       'status', 'dtir1'],
      dtype='object')

In [74]:
#droping columns which cant be used for information
data=data.drop(columns=['id','loan_limit','gender','approv_in_adv','loan_purpose','open_credit','business_or_commercial',
                'credit_worthiness','interest_rate_spread','upfront_charges','neg_ammortization','interest_only',
                'lump_sum_payment','construction_type','occupancy_type','secured_by','total_units','credit_type',
                'co-applicant_credit_type','submission_of_application','ltv','region','security_type'])

In [75]:
data=data.drop(columns=['year'])

In [76]:
data.columns

Index(['loan_type', 'loan_amount', 'rate_of_interest', 'term',
       'property_value', 'income', 'credit_score', 'age', 'status', 'dtir1'],
      dtype='object')

In [77]:
data.shape

(148670, 10)

In [78]:
pd.set_option('display.max_columns',data.shape[-1])
data.head()

,loan_type,loan_amount,rate_of_interest,term,property_value,income,credit_score,age,status,dtir1
0,type1,116500,NaN,360.0,118000.0,1740.0,758,25-34,1,45.0
1,type2,206500,NaN,360.0,NaN,4980.0,552,55-64,1,NaN
2,type1,406500,4.56,360.0,508000.0,9480.0,834,35-44,0,46.0
3,type1,456500,4.25,360.0,658000.0,11880.0,587,45-54,0,42.0
4,type1,696500,4.00,360.0,758000.0,10440.0,602,25-34,0,39.0

In [79]:
#check for duplicate and remove
data.duplicated().sum()

6

In [80]:
data.drop_duplicates(inplace=True)

In [81]:
data.duplicated().sum()

0

In [82]:
#null values
data.isnull().sum()

loan_type               0
loan_amount             0
rate_of_interest    36437
term                   41
property_value      15096
income               9146
credit_score            0
age                   200
status                  0
dtir1               24115
dtype: int64

In [83]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 148664 entries, 0 to 148669
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   loan_type         148664 non-null  object
 1   loan_amount       148664 non-null  int64
 2   rate_of_interest  112227 non-null  float64
 3   term              148623 non-null  float64
 4   property_value    133568 non-null  float64
 5   income            139518 non-null  float64
 6   credit_score      148664 non-null  int64
 7   age               148464 non-null  object
 8   status            148664 non-null  int64
 9   dtir1             124549 non-null  float64
dtypes: float64(5), int64(3), object(2)
memory usage: 12.5+ MB

In [84]:
#filling missing value
from sklearn.impute import SimpleImputer
imputer=SimpleImputer()
data[['rate_of_interest','term','property_value','income','dtir1']] = imputer.fit_transform(data[['rate_of_interest','term','property_value','income','dtir1']])

In [85]:
imputer=SimpleImputer(strategy='most_frequent')
data[['age']]=imputer.fit_transform(data[['age']])

In [86]:
data.isna().sum()

loan_type           0
loan_amount         0
rate_of_interest    0
term                0
property_value      0
income              0
credit_score        0
age                 0
status              0
dtir1               0
dtype: int64

Characteristics of data

In [87]:
data['loan_type'].min()

'type1'

In [88]:
data['loan_type'].max()

'type3'

In [89]:
data['loan_amount'].min()

16500

In [90]:
data['loan_amount'].max()

3576500

In [91]:
data['age'].value_counts()

age
45-54    34919
35-44    32815
55-64    32533
65-74    20744
25-34    19141
>74       7175
<25       1337
Name: count, dtype: int64

In [92]:
data['rate_of_interest'].value_counts()

rate_of_interest
4.045482    36437
3.990000    14454
3.625000     8799
3.875000     8592
3.750000     8473
            ...
4.700000        1
8.000000        1
7.750000        1
5.300000        1
2.700000        1
Name: count, Length: 132, dtype: int64

In [93]:
data['rate_of_interest'].min()

0.0

In [94]:
data['rate_of_interest'].max()

8.0

In [95]:
data['property_value'].value_counts()

property_value
4.979002e+05    15096
3.080000e+05     2791
2.580000e+05     2763
3.580000e+05     2679
4.080000e+05     2537
                ...
4.648000e+06        1
3.878000e+06        1
5.758000e+06        1
2.618000e+06        1
2.698000e+06        1
Name: count, Length: 386, dtype: int64

In [96]:
data['property_value'].min()

8000.0

In [97]:
data['property_value'].max()

16508000.0

In [98]:
msk=data['property_value']==data['property_value'].max()
data[msk]['loan_amount']

17114    2476500
Name: loan_amount, dtype: int64

In [99]:
msk=data['income']==data['income'].max()
data[msk]['status']

62237    1
Name: status, dtype: int64

In [100]:
msk=data['income']==data['income'].max()
data[msk]['rate_of_interest']

62237    4.045482
Name: rate_of_interest, dtype: float64

In [101]:
msk=data['income']==data['income'].min()
data[msk]['status']

42        1
143       1
208       1
301       1
409       1
         ..
147632    1
147728    1
148163    1
148197    1
148349    1
Name: status, Length: 1259, dtype: int64

In [102]:
msk=data['income']==data['income'].min()
data[msk]['rate_of_interest'].value_counts()

rate_of_interest
4.045482    1251
4.125000       2
3.625000       1
2.990000       1
4.750000       1
0.000000       1
3.875000       1
4.250000       1
Name: count, dtype: int64

In [103]:
#income less than 2000
data['income'].value_counts()

income
6957.392164      9146
0.000000         1259
3600.000000      1250
4200.000000      1243
4800.000000      1191
                 ...
45300.000000        1
154440.000000       1
137760.000000       1
145560.000000       1
79920.000000        1
Name: count, Length: 1002, dtype: int64

In [104]:
data['income'].mean()

6957.392164451898

In [105]:
msk=data['income']<2000
msk.value_counts()

income
False    140706
True       7958
Name: count, dtype: int64

In [106]:
data['income']=data['income'].apply(lambda x:x if x not in msk else data['income'].mean())

In [107]:
msk=data['income']<2000
msk.value_counts()

income
False    148664
Name: count, dtype: int64

In [108]:
data['income'].min()

6957.392164451898

In [109]:
#rate of interest 0 correct it
data['rate_of_interest'].value_counts()

rate_of_interest
4.045482    36437
3.990000    14454
3.625000     8799
3.875000     8592
3.750000     8473
            ...
4.700000        1
8.000000        1
7.750000        1
5.300000        1
2.700000        1
Name: count, Length: 132, dtype: int64

In [110]:
data['rate_of_interest'].min()

0.0

In [111]:
data['rate_of_interest'].mean()

4.045481969579513

In [112]:
msk=data['rate_of_interest']==0
msk.value_counts()

rate_of_interest
False    148663
True          1
Name: count, dtype: int64

In [113]:
data['rate_of_interest']=data['rate_of_interest'].apply(lambda x:x if x not in msk else data['rate_of_interest'].mean())

In [114]:
data['rate_of_interest'].min()

2.125

In [115]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 148664 entries, 0 to 148669
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   loan_type         148664 non-null  object
 1   loan_amount       148664 non-null  int64
 2   rate_of_interest  148664 non-null  float64
 3   term              148664 non-null  float64
 4   property_value    148664 non-null  float64
 5   income            148664 non-null  float64
 6   credit_score      148664 non-null  int64
 7   age               148664 non-null  object
 8   status            148664 non-null  int64
 9   dtir1             148664 non-null  float64
dtypes: float64(5), int64(3), object(2)
memory usage: 16.5+ MB

In [116]:
data=pd.get_dummies(data,columns=['loan_type','age'],drop_first=True)

In [117]:
pd.set_option('display.max_columns',data.shape[-1])
data.head()

,loan_amount,rate_of_interest,term,property_value,income,credit_score,status,dtir1,loan_type_type2,loan_type_type3,age_35-44,age_45-54,age_55-64,age_65-74,age_<25,age_>74
0,116500,4.045482,360.0,118000.000000,6957.392164,758,1,45.000000,False,False,False,False,False,False,False,False
1,206500,4.045482,360.0,497900.200647,6957.392164,552,1,37.732932,True,False,False,False,True,False,False,False
2,406500,4.560000,360.0,508000.000000,6957.392164,834,0,46.000000,False,False,True,False,False,False,False,False
3,456500,4.250000,360.0,658000.000000,6957.392164,587,0,42.000000,False,False,False,True,False,False,False,False
4,696500,4.045482,360.0,758000.000000,6957.392164,602,0,39.000000,False,False,False,False,False,False,False,False

In [118]:
y=data['status']
x=data.drop(columns=['status'])

In [119]:
#split data into test and training set
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [120]:
#create and train decision tree classifier
from sklearn.tree import DecisionTreeClassifier
clf=DecisionTreeClassifier()
clf.fit(x_train,y_train)

DecisionTreeClassifier()

In [121]:
#prediction
y_pred=clf.predict(x_test)

In [122]:
from sklearn.metrics import accuracy_score,confusion_matrix
print('Accuracy score',accuracy_score(y_test,y_pred))
print('Confusion matrix',confusion_matrix(y_test,y_pred))

Accuracy score 0.9686879897756702
Confusion matrix [[21946   453]
 [  478  6856]]

In [123]:
#Random forest classifier
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier()
clf.fit(x_train,y_train)

RandomForestClassifier()

In [124]:
y_pred=clf.predict(x_test)

In [125]:
print('Accuracy score',accuracy_score(y_test,y_pred))
print('Confusion matrix',confusion_matrix(y_test,y_pred))

Accuracy score 0.9781387683718428
Confusion matrix [[21889   510]
 [  140  7194]]

In [126]:
#Naive bayes classifier
from sklearn.naive_bayes import GaussianNB
clf=GaussianNB()
clf.fit(x_train,y_train)

GaussianNB()

In [127]:
y_pred=clf.predict(x_test)

In [128]:
print('Accuracy score',accuracy_score(y_test,y_pred))
print('Confusion matrix',confusion_matrix(y_test,y_pred))

Accuracy score 0.7529008172737363
Confusion matrix [[22332    67]
 [ 7280    54]]

In [129]:
from sklearn.linear_model import LogisticRegression
log_reg=LogisticRegression(max_iter=1000)
log_reg.fit(x_train,y_train)

LogisticRegression(max_iter=1000)

In [130]:
y_pred=log_reg.predict(x_test)

In [131]:
print('Accuracy score',accuracy_score(y_test,y_pred))
print('Confusion matrix',confusion_matrix(y_test,y_pred))

Accuracy score 0.7533380419062994
Confusion matrix [[22399     0]
 [ 7334     0]]