In [1]:
#Practice exercise on python basic
#Question 1
r=int(input("Enter the radius"))
a=3.14*r*r
print("Area of circle=",a)

Enter the radius3
Area of circle= 28.259999999999998

In [2]:
#Question 2
name=input("Enter the name")
roll=int(input("Enter the roll number"))
mark=int(input("Enter the mark"))
print("Name:",name)
print("Roll No:",roll)
print("Mark:",mark)

Enter the nameAnisha
Enter the roll number21
Enter the mark78
Name: Anisha
Roll No: 21
Mark: 78

In [3]:
#Question 3
li=[12,3,47,10]
l=max(li)
print(l," is the largest number")

47  is the largest number

In [6]:
#Question 4
for i in range(1,11):
  c=i
  p=c-1
  s=p+c
  print("Current Number:",c)
  print("Previous Number:",p)
  print("Sum:",s)

Current Number: 1
Previous Number: 0
Sum: 1
Current Number: 2
Previous Number: 1
Sum: 3
Current Number: 3
Previous Number: 2
Sum: 5
Current Number: 4
Previous Number: 3
Sum: 7
Current Number: 5
Previous Number: 4
Sum: 9
Current Number: 6
Previous Number: 5
Sum: 11
Current Number: 7
Previous Number: 6
Sum: 13
Current Number: 8
Previous Number: 7
Sum: 15
Current Number: 9
Previous Number: 8
Sum: 17
Current Number: 10
Previous Number: 9
Sum: 19

In [8]:
#Question 5
si=[10,20,33,46,55]
for i in si:
  if i % 5==0:
    print(i,end=" ")

10 20 55

In [14]:
#Question 6
p=int(input("Enter the number:"))
if p==1:
  print(p,"is not a prime number")
elif p>1:
  for i in range(2,p):
    if(p%i==0):
      print(p," is not a prime number")
      break
    else:
      print(p," is a prime number")

Enter the number:3
3  is a prime number

In [16]:
#Question 7
list2=[]
lim=int(input("Enter number of elements"))
for i in range(lim):
  ve=int(input())
  list2.append(ve)
print("List:",list2)
rev=list2[::-1]
print("Reversed list:",rev)

Enter number of elements4
10
40
30
70
List: [10, 40, 30, 70]
Reversed list: [70, 30, 40, 10]

In [17]:
#Question 8
s=4
for i in range(s+1):
  print('*'*i)

*
**
***
****

In [18]:
#Question 9
a1=int(input("Enter the value:"))
a2=int(input("Enter the value:"))
a3=int(input("Enter the value:"))
if a1>a2 and a1>a3:
  l=a1
elif a2>a1 and a2>a3:
  l=a2
elif a3>a1 and a3>a2:
  l=a3
print("Maximum:",l)

Enter the value:34
Enter the value:12
Enter the value:7
Maximum: 34

In [19]:
#Question 10
r=5
for i in range(r+1):
  print('*'*i)
for i in range(r-1,0,-1):
  print('*'*i)

*
**
***
****
*****
****
***
**
*